.background{
    background: #21062A;
    background-image: url("../img/baground.png");
    height: 655px;
}
// ---------------header--------------
.header {
    border-top: 1px solid #226ed3;

 
    height: 118px;

	

}



.logo{width: 164px;
    height: 41px;
    
 
}

.phone{
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
    text-transform: uppercase;
    
    /* белый */
    
    color: #FFFFFF;

}
.container{
    max-width: 1207px;
    margin: 0 auto;
    
    

   

}
.container_herader{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
   
    align-items: center;

}

.ford{
    position: relative;
   margin-top: 301px;
  
 right: 400px;
    width: 814px;
height: 462px;

}
//---------------------banner------------------

.banner_container {
    display: flex;
}
.banner_info {
    color: #FFFFFF;
}
.banner_title {
  
    width: 990px;
    height: 95px;
    margin-top: 56px;

    
    font-family: 'Oswald', sans-serif;   
font-style: normal;
font-weight: 400;
font-size: 72px;
line-height: 107px;


}
.banner_subtitle {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    lfont-weight: 400;
    font-size: 36px;
    line-height: 53px;

    
}
.banner_info_txt {
    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
margin-top: 30px;
}
.banner_btn {
    width: 250px;
    height: 50px;
    margin-top: 30px;
    background: #FFF;
color: #5A0D67;
}

.banner_btn:hover {
 
    background: #5A0D67;
    color: #fff;
}

.icons{
 
    margin-top: 70.05px;
    margin-left: 60px;
    img{
        margin-right: 10px;
    }
}
//---------------------info_section------------------

.info_section{
    color: #21062A;
}

.br{
    width: 80px;
    height: 0px;
background-color: #21062A;

margin-top: 23.5px;


border: 2px solid #21062A;
}

.info_title{
    margin-right: 3px;
    width: 211px;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 53px;
}

.title_br{
    display: flex;
    
   
}


.info_section{
margin-top: 105px;
}

//-------------------



.info {
    display: flex;
    width: 1100px;
height: 709px;
}
.first_column {
}
.first_column_title1 {
    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;


color: #5A0D67;

}
.first_column_txt1 {
    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

margin-top:  12px;
width: 504px;
height: 105px;
}
.first_column_txt2 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    width: 504px;
    height: 135px;
 margin-top: 12px;
    
}
.first_column_title2 {
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
margin-top: 60px;
color: #5A0D67;

}
.first_column_txt3 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px;
    width: 504px;
    
 margin-top: 12px;

}
.second_column {
}

.txt{
    display: flex;
    flex-direction: column;

}

.first_column_btn{
    font-family: 'Oswald', sans-serif;
    width: 250px;
    height: 50px;
    margin-top: 30px;
    background: #FFF;
color: #5A0D67;
    margin-top: 50px;
    border: 1px solid gray;
    position: relative;
    z-index: 5;
    
}



.first_column_btn:hover {
 
    background: #5A0D67;
    color: #fff;
}

.second_column {
}
.second_column_carts {
margin-left: 116px;
}
.second_column_cart:hover {
    width: 500px;
    height: 75px;
    border: 2px solid #5A0D67;
   .cart_title {
 
color: #5A0D67;
}
.cart_num {

    
color: #5A0D67;

}

}


.second_column_cart{
    border: 1px solid #C4C4C4;
width: 450px;
height: 75px;
    display: flex;
    margin-top: 12px;
}
.cart_num {

    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 53px;
text-transform: uppercase;
margin-left: 30px;

color: #2C2B2B;


transform: rotate(-90deg);
}
.cart_info {
    margin-left: 40px;
}
.cart_title {
    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 22px;
line-height: 36px;
color: #2C2B2B;
height: 30px;
margin-top: 5px;
}
.cart_txt {
    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;


color: #000000;
}


//-----------------

.WhyWe_section {
    position: relative;
    bottom: 200px;
  
}

.WhyWe_car {
    position: relative;
    z-index: 2;
    bottom: 80px;
    left: 60px;
}

.title_WhyWe{
    display: flex;
    margin-left: 685px;
    margin-top: 20px;
}
.WhyWe_info {

    margin-left: 185px;
&:last-child{
    margin-bottom: 45px;
}
}
.WhyWe_block {
    display: flex;
}

.WhyWe_infs {
color: white;
margin-left: 95px;
width: 779px;
height: 507px;
margin-top: 10px;


background: #21062A;
}
.WhyWe_num {
    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 53px;
margin-top: 23px;

width: 54px;
height: 43px;
}
.WhyWe_title {
    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 24px;
line-height: 36px;


}
.WhyWe_txt {
    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

width: 316px;
color: #C4C4C4;


}

//-----------------car cart---------------------

.container_Car_cart{
    width: 1200px;
    height: 601px;
}

.Car_cart_title_info_title {
    width: 373px;
    height: 49px;
    margin-bottom: 54px;
    margin-left: 15px;
    
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 53px;
}
.info_title {
}

.car_carts {
    display: flex;
}

.car_cart {
   
    width: 390px;
height: 350px;
margin-left: 20px;

background: #FFFFFF;
color: #2C2B2B;
text-align: center;
border: 1px solid #C4C4C4;
img{
    width: 370px;
    height: 240px;
    margin-top: 5px;
}
&:hover{
    background: #5A0D67;
color: #FFF;

border: 1px solid #5A0D67;
img{
  
}
}
}
.car_carts_model {
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
margin-top: 25px;


}
.car_carts_price {
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
margin-top: 5px;
}
.btns{
    display: flex;
    margin-top: 50px;
    margin-left: 401px;
    .active{
        background: #5A0D67;
    }
}
.btn{
    cursor: pointer;
    width: 50px;
height: 3px;
left: 601px;
top: 3013px;
margin-left: 20px;
/* акцент */
background: #C4C4C4;
&:hover{
    background: #5A0D67;
}

}

.mySlides{
    display: flex;
}


//-------------------Contacts------------------------------

.Contacts {
}
.container {
}
.Contacts_container {
    display: flex;
}

.Contacts_infs {

    // width: 174px;
    // height: 256px;
}
.Contacts_info {
    margin-top: 20px;

}
.Contacts_info_title {
font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;


color: #5A0D67;
}
.Contacts_info_txt1 {
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
}
.Contacts_info_txt2 {
    font-family: 'Oswald';
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;
}
.aplication {
   
    width: 600px;
height: 466px;
margin-left: 380px;

background: #21062A;
}




.info_title{
    margin-right: 3px;
    width: 211px;
    margin-bottom: 50px;
    font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 53px;
}



.Contacts_title_br {
   
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}
.Contacts_title_info_title {
    width: 150px;
height: 53px;
margin-right: 5px;

font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 53px;
}



.aplication_title_br {

   
  
    
    display: flex;
    
   
   margin-top: 50px;
   margin-left: 128px;

    
    color: #FFFFFF;
}
.aplication_title_info_title {
    font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 53px;
    margin-right: 5px;
    
  
}
.aplication_br {
    width: 80px;
    height: 0px;
background-color: white;
margin-left: 5px;
margin-top: 25.5px;


border: 2px solid  white;
}


.aplication_input{
    margin-top: 16px;
    margin-left: 75px;
    width: 450px;
height: 75px;
color: #C4C4C4;
    
    background: #21062A;
    border: 1px solid #FFFFFF;


    &::placeholder{    
        text-align: center;

       


margin-left: 5px;


font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;


color: #C4C4C4;

    }
}
.Contacts_btn{
    margin-top: 78px;
    margin-left: 175px;
font-family: 'Oswald', sans-serif;
width: 250px;
height: 50px;
margin-top: 30px;
background: #FFF;
color: #5A0D67;
margin-top: 50px;
border: 1px solid gray;
position: relative;


}



.Contacts_btn:hover {

background: #5A0D67;
color: #fff;
}


.header{
  




background: #21062A;



color: #FFF;
}
.container_header{
    display: flex;
}
.header_logo {
margin-top: 24px;
margin-right: 345px;
    width: 197px;
height: 53px;
}
.header_icons {
    margin-top: 37px;
  
}

.header_txt {
    margin-top: 37px;
    margin-left: 250px;
    width: 202px;
height: 27px;



font-family: 'Oswald', sans-serif;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 27px;

color: #FFFFFF;
}